aioice==0.10.1
aiortc==1.13.0
asgiref==3.9.1
av==14.4.0
boto3==1.40.2
botocore==1.40.2
cffi==1.17.1
cryptography==45.0.5
Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
dnspython==2.7.0
google-crc32c==1.7.1
ifaddr==0.2.0
jmespath==1.0.1
pycparser==2.22
pyee==13.0.0
pylibsrtp==0.12.0
pyOpenSSL==25.1.0
python-dateutil==2.9.0.post0
s3transfer==0.13.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
